<%- contentFor('body') %>
<div class="row">
  <% if (data.dbs) { %>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
      <h4 class="card-title">
        <%= title.text %>
      </h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary">
              <% const dataKeys = Object.keys(data.dbs[0]); %>
              <% for (const item of dataKeys) { %>
              <th>
                <%= helper.camelToSentence(item) %>
              </th>
              <% } %>
            </thead>
            <tbody>
              <% for (const item of data.dbs) { %>
              <tr>
                <td>
                  <i class="fas fa-database fa-1x text-primary"></i>
                  <a href="#" ><%= item.name %></a>
                </td>
                <td>
                  <%= item.sizeOnDisk %>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <% } %>
</div>